{% extends 'cars/layout.html' %}
{% load static %}

{% block body %}
<link href="{% static 'cars/home.css' %}" rel="stylesheet"></a>
<body>
    <div class="about">
    <h1>About Us</h1>
    <h2>best carselling group</h2>
    <img src="{% static 'cars/v8.jpg' %}">
    <p>Welcome to our company, where innovation and excellence are at the heart of everything we do. Founded in 2015, we have grown to become a leading provider of cutting-edge products and services that cater to the needs of our diverse customer base.</p>
            <p>Our mission is to consistently deliver exceptional value and to exceed the expectations of our clients. We are driven by a team of passionate and highly skilled professionals who are committed to staying at the forefront of industry trends and advancements.</p>
            <p>At our core, we believe in fostering a culture of collaboration, creativity, and continuous improvement. This allows us to continuously refine our offerings and provide our customers with the best possible experie
    </div>
    <button class="ab">Go Back To Home Page</button>
</body>
{% endblock %}