.navbar {
    width: 90%;
    margin: 0;
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color:black;
    
}

.navbar ul li a{
    text-align: none;
    color: #fff;
    text-transform: uppercase;
    color:black;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after {
    width: 100%;
}

/*styling form table*/
.form {
    width: 390px;
    height: 300px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.3);
    padding: 50px;
    overflow: hidden;
    margin-left: 700px;
}
.forma {
    width: 350px;
    height: 200px;
    color: #fff;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.2);
    padding: 50px;
    overflow: hidden;
    margin-left: 700px;
}
/*styling button*/

/*styling button*/
button {
    width: 150px;
    height: 30px;
    text-align: center;
    margin-left: 70px;
    color: #333;
}

input{
    font-size: 1.5em;
    line-height: 20px;
    margin: 10px;


}

.used{
    text-align: center;
}

img{
    width: 300px;
    height: 200px;
}

.but{
    width: 70px;
    font-size: 14px;
    margin-left: 1px;
    justify-content: space-between;
    margin: 10px;
    
}

.butt{
    width: 75px;
    font-size: 14px;
    margin: 10px;
        
}

.box{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 400px;
    margin: 50px;
    background-color: white;
    box-shadow: 5px 8px 5px gray;
}

.cl{
    text-align: center;
}

p {
    padding: 10px;
}

.about {
    text-align: center;
}

.ab {
    text-align: center;
}

/*contact form*/

#nav1{
    background-image: url('/static/images/v8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}